<!--
<p style="color: green"><%= notice %></p>

<h1>Photos</h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
    <p>
      <%= link_to "Show this photo", photo %>
    </p>
  <% end %>
</div>

<%= link_to "New photo", new_photo_path %>
-->

<div class="container">
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">

        </div>
      </div>

      <div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      feed
    </h1>

    <p class="lead text-muted">posts by people you follow</p>
  </div>
</div>


    </div>
